// color palette
$primary-color: #e7669d;
$primary-light-color: #eadfea;
$primary-dark-color: #8f6b93;
$secondary-color: #00aaa2;
$secondary-light-color: #83dfdb;
$secondary-dark-color: #00746e;

// spacing
$app-base-spacing: 8;

// display flex columns
$grid-columns: 12;

// container
$horizontal-padding: 10vw;
$max-width: 980px;

// navbar
$NavbarHeight: 60px;
